# Reshaping

In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

In [5]:
# to give comumn/index a name pass pd.Index into index
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                  index = pd.Index(['LA','SF'],name='city'),
                  columns=pd.Index(list('ABCD'),name='letter'))

In [6]:
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [7]:
# use stack to pivot columns into rows
dframe2=dframe1.stack()

In [8]:
dframe2

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [9]:
# back to a dataframe, 
dframe2.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
# we can pass an argument into unstack 
dframe2.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [11]:
# concatinate two series

ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6], index=['X','Y','Z'])

In [12]:
dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [13]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

# Pivoting

In [ ]:
# dframe.pivot() three arguments to pass
#1st: which rows you want your table to have 
#2nd: which columns in the pivot table 
#3rd: fill value